@import url("../../styles.css");
.user-profile {
    border: 1px solid black;
    color: #1e293b;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh-2rem); */
    width: 15rem;
  }
  .profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 1rem;
  }
  .profile-bio {
    color: #1e293b;
  }
  .user-stats {
    color: #1e293b;
    border: 1px solid black;
    width: fit-content;
    padding: 1rem;
  }
  .user-stats h4 {
    margin: 0;
  }
  .user-stats .dis-col {
    margin: 5px;
  }
  .edit-profile {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
  }

  .dis-col {
    display: flex;
    flex-direction: column;
  }
  .dis-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  .space-around {
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }