@import "../../styles.css";

.post-container {
  width: 500px;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(241, 239, 239, 0.16);
  border-radius: 1.5rem;
}

.user-id {
  color: var(--primary-color);
  margin: 5px;
}
.post-bottom-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

.dis-col {
  display: flex;
  flex-direction: column;
}
.dis-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.space-around {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.avatar-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 2px;
}

.icon :hover {
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-btn {
  background: none;
  font-size: 1.5rem;
}

.post-text {
  margin-bottom: 1.5rem;
}
.comment-btn {
  background-color: transparent;
}
