@import "../../styles.css";



.post-container {
  width: 500px;
  color: #1e293b;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 2px solid black;
}
.post-text {
  text-align: left;
}
.user-id {
  color: red;
  margin: 5px;
}
.post-bottom-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dis-col {
  display: flex;
  flex-direction: column;
}
.dis-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.space-around {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.avatar-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 2px;
}