@import url("https://infinitee-ui.netlify.app//allstyles.css");

:root{
    --txt-clr:#ffffff;
}

.tweet-btn{
    color: var(--primary-color) !important;
    font-weight: 500;
}

.tweet-btn:hover{
    background-color: var(--primary-color) !important;
    color: var(--txt-clr) !important;
    font-weight: 500;
}